@using HomeWorkoutModels.Models;

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        @if(Setting.UserBasicDetail != null)
        {
            <NavMenu />
        }

    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
        <Space Size="@($"{bottomPadding}")" Direction="DirectionVHType.Vertical">
            <SpaceItem />
        </Space>
    </main>
</div>

@code{
 private double bottomPadding = 60;
}